    div.titleAllSettings {
        clear: both;
        margin-left: auto;
        margin-right: auto;

    }


    div.titleSettingsAll {
        float: left;
    }
    .hrefSettingCursor {
        cursor: pointer;
    }
    div.selectedMenu {
        background-color: red;
    }
    div.centerPercent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: center;
    padding-bottom: 10px;




}

div.plusMinusButton {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}
div.addPlusButton {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}
